@tailwind base;
@tailwind components;
@tailwind utilities;

body, body * {
  background-color: black;
  font-family: 'Menlo', sans-serif;
  color: white;
}

.content {
  width: 700px;
}

@media (max-width: 700px) {
  .content {
    margin-top: -2rem;
    padding: 0 10px 0 30px;
  }
}

@media (max-width: 600px) {
  .content {
    margin-top: -4rem;
  }
}

.headbtn {
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 2px;
  font-size: 16px;
}

.headbtn:hover {
  cursor: pointer;
  background-color: rgb(45, 45, 45);
}

.selected {
  background-color: rgb(45, 45, 45);
}

.ref {
  color: lightblue;
  &:hover {
      cursor: pointer;
      color: pink;
  }
}