@tailwind base;
@tailwind components;
@tailwind utilities;

body, body * {
  background-color: black;
  font-family: 'Menlo', sans-serif;
  color: white;
}

.content {
  width: 700px;
}

@media (max-width: 700px) {
  .content {
    margin-top: -2rem;
    margin-bottom: 2rem;
    padding: 0 10px 0 30px;
  }
}

@media (max-width: 600px) {
  .content {
    margin-top: -4rem;
    margin-bottom: 4rem;
  }
}

.headbtn {
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  text-align: center;
  border-radius: 2px;
  font-size: 16px;
}

.headbtn:hover {
  cursor: pointer;
  background-color: rgb(45, 45, 45);
}

.selected {
  background-color: rgb(45, 45, 45);
}

.ref {
  color: rgb(255, 160, 122);
}

.ref:hover {
  cursor: pointer;
  background-color: rgb(255, 160, 122, 0.3)
}

.refg {
  color: rgb(173, 216, 230);
}

.refg:hover {
  cursor: pointer;
  background-color: rgba(173, 216, 230, 0.3)
}

.flex-responsive {
  display: flex;
}

@media (max-width: 500px) {
  .flex-responsive {
    flex-direction: column-reverse;
  }
}

.post {
  margin-bottom: 2rem;
}

.post-date {
  font-size: 14px;
  color: gray;
}

.post-title {
  font-size: 18px;
}

.post-title a:hover {
  cursor: pointer;
  background-color: rgb(173, 255, 47, 0.8);
}

.post-pound {
  font-size: 18px;
  color: rgb(173, 255, 47);
}

.post-subtitle {
  margin-top: 0.2rem;
  font-size: 14px;
  color: rgb(255,255,255,0.8);
}

.post-page-title {
  font-size: 0;
  margin-bottom: 0.2rem;
}

.post-page-title span {
  font-size: 24px;
}

.post-page-title-container {
  margin-bottom: 1rem;
}

.post-page-date {
  font-size: 14px;
  color: gray;
  font-style: italic;
  word-spacing: -0.1rem;
}

.markdown {
  color: rgb(255,255,255,0.8);
  font-size: 12px;
}

.markdown:hover {
  cursor: pointer;
  background-color: rgb(173, 255, 47, 0.8);
}

hr {
  border-color: rgb(255,255,255,0.7);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.span-first-letter {
  color:rgb(173, 255, 47);
}

.post-page-content-container {
  font-size: 14px;
}